# Google OAuth
GOOGLE_CLIENT_ID=google_client_id_here
GOOGLE_CLIENT_SECRET=google_client_secret_here

# Django
SECRET_KEY=django_secret_key_here
DEBUG=True
ALLOWED_HOSTS=ufazien.com,www.ufazien.com,allowed_host_3

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=db_name_here
DB_USER=db_user_here
DB_PASSWORD=supersecurepassword
DB_HOST=localhost
DB_PORT=5432

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your@email.com
EMAIL_HOST_PASSWORD=your-email-password